.bmap {
  height: 450px;
}
.markDynamicOut {
  position: relative;
}
.markDynamic {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  color: #f6f6f6;
  padding: 0px 10px;
  font-size: 12px;
  text-align: left;
}
:global .cursorPoint {
  cursor: pointer;
}
:global .lingColor {
  background-color: #e6f7ff;
}

.sliderWrapper {
  position: relative;
  padding: 0px 30px;
  width: 250px;
  margin: 0 auto;
}

.sliderWrapper .flag {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25);
}

.sliderWrapper .flag:first-child {
  left: 0;
}

.sliderWrapper .flag:last-child {
  right: 0;
}
